::selection {
    background: #A50000;
}
*{
    margin:0;
    padding:0;
    font-family: 'Circular Std', sans-serif;
}
body{
    background: #030303;
    position: relative;
}
a{
    text-decoration: underline;
    color: #FFF;
}
html, body {
    cursor: none;
    margin:0;
    padding: 0;
    height: 100%;
}
.cursor{
    border: #FFF solid 2px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background: transparent;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: transform 0.35s ease;
    transition-property: background, transform;
    z-index: 100000000000000000000000000000000000000000000000;
}
a, input{
    cursor: none;
}

/* scrollbar */
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-track{
    border:9px solid #030303;
    box-shadow: inset 0 0 3px 2px rgba(0,0,0,1)
}
::-webkit-scrollbar-thumb{
    background: #A50000;
    border-radius: 2px;
}

/* hamburger menu */
/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 30px;
    height: 30px;
    padding: 1rem;
    background: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 999999999;
    top: -10px;
    width: 70%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger {
    background: #A50000;
}
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: #030303;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.8s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: #FFF;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 90px;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    position: relative;
    color: #c2c2c2;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
    background: #A50000;
    color: #FFF;
}

.menu-wrap .menu > div > div > ul > li > a::before{
    content: "";
    position: absolute;
    width:100%;
    height: 5px;
    bottom: 0;
    left:0;
    background-color:#030303;
    visibility:hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.menu-wrap .menu > div > div > ul > li > a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

#menu-logo {
    height: 10%;
    width: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* end hamburger menu */

/* screen transition */
.screen-transition{
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #A50000;
    z-index: 10000000000;
    -webkit-animation-name: slideOut;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 200ms;
    animation-name: slideOut;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 200ms;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.screen-transition:before{
    content:'about me';
    position: absolute;
    font-size: 3em;
    font-weight: 900;
    text-transform: lowercase;
    color: #FFF;
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@-webkit-keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

#body-container{
    position: relative;
}

/*sidebar*/
#sidetext-container{
    height: 100vh;
    width: 20%;
    position: absolute;
    left: 10%;
}
#side-text{
    font-size: 20em;
    text-transform: uppercase;
    transform: rotate(90deg);
    white-space: nowrap;
    line-height: 225px;
    font-weight: 600;
    /*color: #FFF;*/
    -webkit-text-stroke: .01em #FFF;
    text-stroke: 1px #FFF;
    color: transparent;
}
.sidespan{
    font-family: 'Teko', sans-serif;
}
/*INTRO TEXT*/
.intro-text-container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.circle{
    width: 60em;
    height: 60em;
    background: #A50000;
    opacity: 0.5;
    border-radius: 50%;
    z-index: -10;
}
.circ-1{
    position: absolute;
    top: -50%;
    right: 0;
}
.circ-2{
    position: absolute;
    bottom:-50%;
    left: -20%;
}
.dots-vert{
    width: 10em;
    z-index: -1;
    position: absolute;
    top: -10%;
    right: 30%;
}
#intro-text{
    width: 57%;
    position: absolute;
    right: 18%;
    top: 38vh;
    color: #FFF;
}
#big-intro{
    font-family: 'Teko', sans-serif;
    line-height: 0.9em;
    font-size: 6em;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-stroke: .02em #FFF;
    text-stroke: 1px #FFF;
    color: transparent;
}
.full{
    font-family: 'Teko', sans-serif;
    -webkit-text-stroke: 0;
    text-stroke: 0;
    color: #FFF;
}
#small-intro{
    font-size: 1em;
    font-weight: 100;
}
/*main container*/
.main-container{
    width: 60%;
    position: absolute;
    right: 10px;
    top: calc(100vh + 300px);
    padding: 10px 10px 60px;
}
.work-title{
    color: #FFF;
    text-align: left;
    position: absolute;
    left: 185px;
    top: -65px;
    font-size: 100px;
}
.education-container{
    position: relative;
}
.org-container{
    position: relative;
}
.skills-container{
    position: relative;
}
.school-title{
    color: #FFF;
    text-align: left;
    position: absolute;
    left: 0px;
    top: -65px;
    font-size: 100px;
}
.org-title{
    color: #FFF;
    text-align: right;
    position: absolute;
    left: 160px;
    top: -65px;
    font-size: 100px;
}
.skill-title{
    color: #FFF;
    text-align: right;
    position: absolute;
    left: 10px;
    top: -65px;
    font-size: 100px;
}
/*cards*/
.cards-container{
    display: block;
    justify-content: space-between;
    padding: 10px 0;
}
.cards-container .card{
    position:relative;
    width: 950px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FFF;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 4px 6px 31px -10px rgba(165,0,0,0.3);
    transition: all 350ms ease-in-out;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
}
.card-content{
    width: 95%;
    position: absolute;
    left: 0;
}
.date-container{
    width: 5%;
    height: 200px;
    border-left: #030303 solid;
    position: absolute;
    right: 0;
}
.date{
    transform: translate(0, 125px) rotate(-90deg);
    font-size: 12px;
    color: #030303;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    transition: all 350ms ease-in-out;
}
.subdetails{
    margin: 0 auto;
    width: 70%;
    font-size: 13px;
    text-align: justify;
    text-align-last: center;
    color: #FFF;
}
.organization,
.position{
    position: absolute;
    vertical-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 250ms ease-in-out;
}
.organization{
    top: 85px;
}
.position{
    top: 110px;
}
.work-nd:hover{
    background: url(images/work-nd-bg-red.jpg) no-repeat;
    color: #FFF;
}
.work-capstone:hover{
    background: url(images/work-tr-bg.jpg) no-repeat;
    color: #FFF;
}
.work-cobena:hover{
    background: url(images/work-cob-bg.jpg) no-repeat;
    color: #FFF;
}
.work-loreal:hover{
    background: url(images/work-lor-bg.jpg) no-repeat;
    color: #FFF;
}
.card:hover .date{
    color: #FFF;
}
.card:hover .date-container{
    border-left: #FFF solid;
}
.cards-container .work-nd:before{
    content:'notre dame';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.work-nd:hover:before{
    color: rgba(255,255,255,0.2);
}
.cards-container .work-capstone:before{
    content:'capstone';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.work-capstone:hover:before{
    color: rgba(255,255,255,0.2);
}
.cards-container .work-cobena:before{
    content:'cobena';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.work-cobena:hover:before{
    color: rgba(255,255,255,0.2);
}
.cards-container .work-loreal:before{
    content:"l'oréal";
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.work-loreal:hover:before{
    color: rgba(255,255,255,0.2);
}
.work-nd:hover .organization{
    top: 50px;
}
.work-nd:hover .position{
    top: 75px;
}
.work-sub-nd{
    position: absolute;
    top: 100px;
    left: 135.375px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.work-nd:hover .work-sub-nd{
    opacity: 1;
    visibility: visible;
}
.work-capstone:hover .organization{
    top: 40px;
}
.work-capstone:hover .position{
    top: 65px;
}
.work-sub-capstone{
    position: absolute;
    top: 90px;
    left: 135.375px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.work-capstone:hover .work-sub-capstone{
    opacity: 1;
    visibility: visible;
}

.work-cobena:hover .organization{
    top: 50px;
}
.work-cobena:hover .position{
    top: 75px;
}
.work-sub-cobena{
    position: absolute;
    top: 100px;
    left: 135.375px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.work-cobena:hover .work-sub-cobena{
    opacity: 1;
    visibility: visible;
}

.work-loreal:hover .organization{
    top: 55px;
}
.work-loreal:hover .position{
    top: 80px;
}
.work-sub-loreal{
    position: absolute;
    top: 105px;
    left: 135.375px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.work-loreal:hover .work-sub-loreal{
    opacity: 1;
    visibility: visible;
}

/*SCHOOLS*/
.school-sub{
    width: 35%;
}
.school-nd:hover{
    background: url(images/school-nd.jpg) no-repeat;
    color: #FFF;
}
.school-up:hover{
    background: url(images/school-up.jpg) no-repeat;
    color: #FFF;
}
.school-ubc:hover{
    background: url(images/school-ubc.jpg) no-repeat;
    color: #FFF;
}

.cards-container .school-nd:before{
    content:'notre dame';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.school-nd:hover:before{
    color: rgba(255,255,255,0.2);
}
.cards-container .school-up:before{
    content:'up diliman';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.school-up:hover:before{
    color: rgba(255,255,255,0.2);
}
.cards-container .school-ubc:before{
    content:'ubc sauder';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.school-ubc:hover:before{
    color: rgba(255,255,255,0.2);
}

.school-nd:hover .organization{
    top: 60px;
}
.school-nd:hover .position{
    top: 85px;
}
.school-sub-nd{
    position: absolute;
    top: 110px;
    left: 293.3125px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.school-nd:hover .school-sub-nd{
    opacity: 1;
    visibility: visible;
}
.school-up:hover .organization{
    top: 60px;
}
.school-up:hover .position{
    top: 85px;
}
.school-sub-up{
    position: absolute;
    top: 110px;
    left: 293.3125px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.school-up:hover .school-sub-up{
    opacity: 1;
    visibility: visible;
}

.school-ubc:hover .organization{
    top: 60px;
}
.school-ubc:hover .position{
    top: 85px;
}
.school-sub-ubc{
    position: absolute;
    top: 110px;
    left: 293.3125px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.school-ubc:hover .school-sub-ubc{
    opacity: 1;
    visibility: visible;
}

/*ORGS*/
.org-sub{
    width: 70%;
}
.org-msbaa:hover{
    background: url(images/org-msbaa.jpg) no-repeat;
    color: #FFF;
}
.org-jma:hover{
    background: url(images/org-jma.jpg) no-repeat;
    color: #FFF;
}

.cards-container .org-msbaa:before{
    content:'msbaa';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.org-msbaa:hover:before{
    color: rgba(255,255,255,0.2);
}
.cards-container .org-jma:before{
    content:'upjma';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.org-jma:hover:before{
    color: rgba(255,255,255,0.2);
}

.org-msbaa:hover .organization{
    top: 60px;
}
.org-msbaa:hover .position{
    top: 85px;
}
.org-sub-msbaa{
    position: absolute;
    top: 110px;
    left: 135.375px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.org-msbaa:hover .org-sub-msbaa{
    opacity: 1;
    visibility: visible;
}
.org-jma:hover .organization{
    top: 40px;
}
.org-jma:hover .position{
    top: 65px;
}
.org-sub-jma{
    position: absolute;
    top: 90px;
    left: 135.375px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.org-jma:hover .org-sub-jma{
    opacity: 1;
    visibility: visible;
}

/* SKILLS */
.skill-sub{
    width: 70%;
}
.skill-data:hover{
    background: url(images/skill-data.jpg) no-repeat;
    color: #FFF;
}
.skill-design:hover{
    background: url(images/skill-design.jpg) no-repeat;
    color: #FFF;
}
.skill-viz:hover{
    background: url(images/skill-viz.jpg) no-repeat;
    color: #FFF;
}
.cards-container .skill-data:before{
    content:'data';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.skill-data:hover:before{
    color: rgba(255,255,255,0.2);
}
.cards-container .skill-design:before{
    content:'design';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.skill-design:hover:before{
    color: rgba(255,255,255,0.2);
}
.cards-container .skill-viz:before{
    content:'visualization';
    position: absolute;
    top:45%;
    left:0%;
    font-size: 130px;
    font-weight: 800;
    color: rgba(0,0,0,0.1);
    transition: all 350ms ease-in-out;
}
.skill-viz:hover:before{
    color: rgba(255,255,255,0.2);
}

.skill-data:hover .organization{
    top: 60px;
}
.skill-data:hover .position{
    top: 85px;
}
.skill-sub-data{
    position: absolute;
    top: 110px;
    left: 135.375px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.skill-data:hover .skill-sub-data{
    opacity: 1;
    visibility: visible;
}
.skill-design:hover .organization{
    top: 60px;
}
.skill-design:hover .position{
    top: 85px;
}
.skill-sub-design{
    position: absolute;
    top: 110px;
    left: 135.375px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.skill-design:hover .skill-sub-design{
    opacity: 1;
    visibility: visible;
}
.skill-viz:hover .organization{
    top: 60px;
}
.skill-viz:hover .position{
    top: 85px;
}
.skill-sub-viz{
    position: absolute;
    top: 110px;
    left: 135.375px;
    opacity: 0;
    visibility: hidden;
    transition-delay: 350ms;
}
.skill-viz:hover .skill-sub-viz{
    opacity: 1;
    visibility: visible;
}
.skill-cards .position{
    width: 600px;
    text-align: center;
}
.skill-cards .date{
    transform: translate(0, 100px) rotate(-90deg)
}

/*LINKS*/
.link{
    position: relative;
    color: #D30000;
    font-weight: 500;
    text-decoration:none;
    transition: all 175ms ease-in-out;
}
.link:hover{
    background: #A50000;
    color: #FFF;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.175s ease-in-out 0s;
}

.link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.segment-title{
    font-family: 'Teko', sans-serif;
    -webkit-text-stroke: 0.02em #FFF;
    text-stroke: 1px #FFF;
    color: transparent;
    font-weight: 700;
}

::before{
    font-family: 'Teko', sans-serif;
}