
::selection {
    background: #A50000;
}
*{
    margin:0;
    padding:0;
    font-family: 'Karla', sans-serif;
}
html, body {
    cursor: none
}
.cursor{
    /*border: #FFF solid 2px;*/
    height: 10px;
    width: 10px;
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    /*background: transparent;*/
    background: #FFF;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: transform 0.35s ease;
    transition-property: background, transform;
    z-index: 100000000000000000000000000000000000000000000000;
}
a, input{
    cursor: none;
}
body{
    background: #FFFFFF;
    min-height:1500px;
}

/* scrollbar */
::-webkit-scrollbar{
   width:6px;
}
::-webkit-scrollbar-track{
    border:4px solid #030303;
    box-shadow: inset 0 0 3px 2px rgba(0,0,0,1)
}
::-webkit-scrollbar-thumb{
    background: #A50000;
    border-radius: 5px;
}

/* loading page */
.preloader {
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #A50000;
    z-index: 1000000000000;
}
.preloader:before{
    content:'Loading';
    position: absolute;
    font-size: 8em;
    font-weight: 900;
    text-transform: lowercase;
    color: rgba(255,255,255,0.1);
}
.preloader.active {
    transform: translateY(-100vh);
    transition: ease-in-out 1s;
    transition-delay: 0.7s;
}
#loading-head{
    color: #FFF;
    position: absolute;
    top: 20%;
}
#loading-sub{
    text-decoration: underline;
    color: #FFF;
    position: absolute;
    top: 22%;
}
#loading-foot{
    color: #FFF;
    position: absolute;
    font-size: 14px;
    bottom: 20%;
}
.counter{
    position:relative;
    color: #FFF;
    font-family: "Teko", sans-serif;
    font-size: 5em;
    font-weight: 800;
    z-index: 1;
}
.counter:before{
    content:"'";
}

.hide{
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

/* hamburger menu */
/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200000000;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000000;
    width: 30px;
    height: 30px;
    padding: 1rem;
    background: transparent;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 100000000;
    top: -10px;
    width: 70%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger {
    background: #A50000;
}
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: #030303;
    mix-blend-mode: normal;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.8s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: #030303;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 90px;
    padding: 5px;
}

.menu-wrap .menu > div > div > ul > li > a {
    position: relative;
    color: #151515;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-family: 'Teko', sans-serif;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
    background: #A50000;
    color: #FFF;
  }

.menu-wrap .menu > div > div > ul > li > a::before{
    content: "";
    position: absolute;
    width:100%;
    height: 5px;
    bottom: 0;
    left:0;
    background-color:#FFF;
    visibility:hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.menu-wrap .menu > div > div > ul > li > a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

#menu-logo {
    height: 10%;
    width: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* end hamburger menu */

/* section buttons */
.section-selector div{
    mix-blend-mode: difference;
}
#section1{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FFF;
    position: fixed;
    top: 45%;
    left: 2vw;
    z-index: 99999999;
    transition: all 350ms ease-in-out;
}
#section2{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FFF;
    position: fixed;
    top: 47.5%;
    left: 2vw;
    z-index: 99999999;
    transition: all 350ms ease-in-out;
}
#section3{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 2vw;
    z-index: 99999999;
    transition: all 350ms ease-in-out;
}
#section4{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FFF;
    position: fixed;
    top: 52.5%;
    left: 2vw;
    z-index: 99999999;
    transition: all 350ms ease-in-out;
}
#section5{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FFF;
    position: fixed;
    top: 55%;
    left: 2vw;
    z-index: 99999999;
    transition: all 350ms ease-in-out;
}
.enlarge{
    width: 10px;
    height: 10px;
}
/* section buttons end*/

/* section 1: header */
#landing,
#landing div{
    position:relative;
    width:100%;
    height:100vh;
    overflow: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
#landing:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #030303, transparent);
    z-index: 10000;
}
#landing:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    mix-blend-mode: color;
}

#landing img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#landing-maintext{
    font-family: 'Teko', sans-serif;
    position: absolute;
    top: 38%;
    left: 5%;
    text-transform: uppercase;
    line-height: 0.8em;
    /*-webkit-text-stroke: .02em #FFF;*/
    /*text-stroke: 2px #FFF;*/
    /*color: transparent;*/
    font-size: 12rem;
    color: #FFF;
    font-weight: 800;
    letter-spacing: 0.00003em;
    z-index: 100000;
    /*animation: 5s floating1 infinite ease-in-out;*/
}
#landing-gabby{
    /*animation: 5s floating2 infinite ease-in-out;*/
}
#landing-subtext{
    position: absolute;
    bottom: 4%;
    right: 3%;
    text-align: right;
    line-height: 1em;
    color: #030303;
    font-size: 2rem;
    z-index: 100000;
    /*animation: 5s floating3 infinite ease-in-out;*/
}

/* section 2: about me */
#about-me-section{
    background-color: #FFFFFF;
}

.about-container{
    width: 100%;
    height: 100vh;
    background-color: #030303;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.9);
    display: flex;
    margin: 0 auto 20px auto;
    position: relative;
    z-index: 200000;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.about-container:hover{
    background-color: #030303;
    /*background-image: url(images/land-gabby.png);*/
}

.about-text{
    position: relative;
    width: 50%;
    top: 0%;
    bottom:5%;
    left: 10%;
    margin-right: 20%;
}

.about-text > p:nth-child(1),
.typed-words{
    color: #FFFFFF;
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 2em;
    margin-bottom: -1em;
}
.about-text > p:nth-child(4){
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
    text-justify: auto;
}
.more-about-wrapper{
    position: relative;
}
.about-link-wrapper{
    position: relative;
}
#about-more{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    text-decoration:none;
    background: #030303;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #FFF;
    transition: all .35s;
}
#more-about-text{
    position: relative;
    z-index: 10;
}
#about-more:after{
    position: absolute;
    content:"";
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background: #A50000;
    transition: all .35s;
}
#about-more:hover{
    color:#FFF;
}
#about-more:hover:after{
    width:208px;
}
.about-nd{
    position: relative;
    color: #D30000;
    font-weight: 500;
    text-decoration:none;
    transition: all 175ms ease-in-out;
}
.about-nd:hover{
    background: #A50000;
    color: #FFF;
}

.about-nd::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.175s ease-in-out 0s;
}

.about-nd:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#about-me-head{
    position: absolute;
    font-family: "Teko", sans-serif;
    bottom:-10px;
    right:0;
    color: #A50000;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 280px;
    font-weight: 700;
    line-height: 125px;
    animation: 5s floating4 infinite ease-in-out;
}
@keyframes floating4 {
    from {transform: translate(0,0px);}
    33% {transform: translate(-20px,0px);}
    65% {transform: translate(-12px,12px);}
    to {transform: translate(0,0px);}
}
.about-line{
    width: 3px;
    height: 60%;
    background: #FFF;
}
#about-linkedin{
    text-align:center;
    text-decoration:none;
    position: absolute;
    bottom: 60%;
    right: 12%;
    color: #FFF;
    font-size: 20px;
}
#about-github{
    text-align:center;
    text-decoration:none;
    position: absolute;
    bottom: 50%;
    right: 12%;
    color: #FFF;
    font-size: 20px;
}
#about-resume{
    text-align:center;
    text-decoration:none;
    position: absolute;
    bottom: 40%;
    right: 12%;
    color: #FFF;
    font-size: 20px;
}

#about-links a p{
    position: relative;
    text-decoration: none;
    transition: all 175ms ease-in-out;
}

#about-links a p:hover{
    background:#A50000;
}

#about-links a p::before{
    content:"";
    position:absolute;
    width:100%;
    height:3px;
    bottom:0;
    left:0;
    background-color:#FFF;
    visibility:hidden;
    transform:scaleX(0);
    transition: all 175ms ease-in-out;
}

#about-links a p:hover::before{
    visibility:visible;
    transform:scaleX(1);
}

/* section 3: skills section */
.skills-container{
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    box-shadow: 2px 2px 12px rgba(255,255,255,0.9);
    display: flex;
    margin: 0 auto 20px auto;
    position: relative;
    z-index: 199999;
    align-items: center;
    transition: all 0.3s ease-in-out;
    justify-content: center;
}
#skills-head {
    position: absolute;
    top: -2%;
    left: 4%;
    font-family: "Teko", sans-serif;
    color: #030303;
    opacity: 0.3;
    text-transform: uppercase;
    font-size: 280px;
    font-weight: 700;
    line-height: 125px;
    animation: 5s floating4 infinite ease-in-out;
}
#skills-subhead{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#skills-footer{
    position: absolute;
    bottom: 12%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#skills-footer a{
    color: #A50000;
    text-decoration: none;
    transition: all 175ms ease-in-out;
}

#skills-footer a:hover{
    background-color: #A50000;
    color: #FFF;
}
.card-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}
.skills-container .card{
    position:relative;
    width: 320px;
    height: 450px;
    margin-left: 50px;
    margin-right: 50px;
    background: #131313;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 4px 6px 31px -10px rgba(0,0,0,0.71);
}
.data{
    position: absolute;
    animation: 5s floating5 infinite ease-in-out;
}
.design{
    position: absolute;
    animation: 4s floating6 infinite ease-in-out;
}
.viz{
    position: absolute;
    animation: 6s floating7 infinite ease-in-out;
}
@keyframes floating5 {
    from {transform: translate(0,0px);}
    33% {transform: translate(-8px,10px);}
    65% {transform: translate(3px,12px);}
    to {transform: translate(0,0px);}
}
@keyframes floating6 {
    from {transform: translate(0,0px);}
    33% {transform: translate(8px,-5px);}
    65% {transform: translate(13px,12px);}
    to {transform: translate(0,0px);}
}
@keyframes floating7 {
    from {transform: translate(0,0px);}
    33% {transform: translate(-4px,4px);}
    65% {transform: translate(2px,15px);}
    to {transform: translate(0,0px);}
}
.skills-container .card:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#A50000;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.skills-container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.skills-container .data:after{
    content:'data';
    position: absolute;
    font-family: "Teko", sans-serif;
    top:30%;
    left:0%;
    font-size: 12em;
    font-weight: 800;
    color: rgba(255,255,255,0.1);
}
.skills-container .design:after{
    content:'design';
    position: absolute;
    font-family: "Teko", sans-serif;
    top:30%;
    left:0%;
    font-size: 12em;
    font-weight: 800;
    color: rgba(255,255,255,0.1);
}
.skills-container .viz:after{
    content:'viz';
    position: absolute;
    font-family: "Teko", sans-serif;
    top:30%;
    left:0%;
    font-size: 12em;
    font-weight: 800;
    color: rgba(255,255,255,0.1);
}
#skills-data-img{
    position: absolute;
    top:40%;
    transform: translate(22%,-40%) rotate(-15deg);
    z-index: 200002;
    width: 220px;
    height: 220px;
    transition: 0.5s;
}
.skills-container .card:hover #skills-data-img{
    top:0%;
    transform: translate(22%,0%);
}
#skills-design-img{
    position: absolute;
    top:40%;
    transform: translate(22%,-40%) rotate(-15deg);
    z-index: 200002;
    width: 220px;
    height: 220px;
    transition: 0.5s;
}
.skills-container .card:hover #skills-design-img{
    top:0%;
    transform: translate(22%,0%);
}
#skills-viz-img{
    position: absolute;
    top:40%;
    transform: translate(22%,-40%) rotate(-15deg);
    z-index: 200002;
    width: 220px;
    height: 220px;
    transition: 0.5s;
}
.skills-container .card:hover #skills-viz-img{
    top:0%;
    transform: translate(22%,0%);
}
.skills-container .card .contentBx{
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 100px;
    text-align: left;
    transition: 0.75s;
    z-index: 200003;
}
.skills-container .card:hover .contentBx{
    height: 210px;
}
.skills-container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFF;
    text-align: center;
}
.skills-container .card .contentBx .skill-list{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
}
.skills-container .card .contentBx .skill-list h3{
    color: #030303;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.skills-container .card:hover .contentBx .skill-list h3{
    opacity: 1;
    text-align: center;
    visibility: visible;
}
.tool-list{
    width: 70%;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.75);
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
.skills-container .card:hover .contentBx .skill-list .tool-list{
    opacity: 1;
    visibility: visible;
}
.tool-list:hover{
    background-color: rgba(255,0,0,0.6);
    transition-delay: 0.001s;
}
.skills-container .card .contentBx .skill-list .tool-list:hover h3{
    color: #FFF;
    transition-delay: 0.001s;
}

/* portfolio section */
.proj-head-container{
    width: 100%;
    height: 300vh;
    background-color: #030303;
    box-shadow: 2px 2px 12px rgba(165,0,0,0.03);
    display: flex;
    margin: 0 auto 0px auto;
    position: relative;
    z-index: 2000003;
    align-items: flex-start;
    transition: all 0.3s ease-in-out;
    /*justify-content: center;*/
}
#project-side-container{
    width: 20%;
    height: 100vh;
    background: #A50000;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    align-self: flex-start;
    display: inline-block;
    overflow: hidden;
    z-index: 2000004;
    padding: 2px 0 0 12px;
}
#project-head{
    font-size: 150px;
    font-weight: 700;
    color: #FFF;
    position: absolute;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transition: all 350ms ease-in-out;
}
#project-head::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 30px;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.175s ease-in-out 0s;
}
#project-head:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.project-container{
    width:78%;
    height: calc(100vh / 3);
    background: #030303;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 350ms ease-in-out;
}
.project-date-container{
    width: 2%;
    position: absolute;
    left: 97%;
    height: calc(100vh / 3);
    background: #030303;
    border-left: #FFF;
    border-style: solid;
    visibility: hidden;
    z-index: 2000005;
    transform: translateX(-25%);
    transition: all 400ms ease-in-out;
}
.project-date{
    font-size: 13px;
    color: #FFF;
    font-weight: 400;
    position: absolute;
    top: 50%;
    white-space: nowrap;
    transform: rotate(-90deg);
}
.project-container:hover + .project-date-container{
    visibility: visible;
    transform: translateX(0);
}
.project-name-desc{
    width: 60%;
    align-items: center;
    justify-content: center;
    top: 10px;
}
.project-name{
    font-size: 20px;
    /*top: 50%;*/
    color: #FFF;
    border-style: solid;
    border-color: #FFF;
    padding: 5px 5px;
    transform: translate(0, 90px);
    transition: all 500ms ease-in-out;
    text-align: center;
}
.project-container:hover .project-name{
    transform: translate(0, -20px);
}
.desc-container{
    background: #FFF;
    align-items: center;
    visibility: hidden;
    transform: translateY(100%);
    opacity: 0;
    transition: all 400ms ease-in 50ms;
}
.project-description{
    left: 50%;
    padding: 20px;
    text-align: justify;
    text-align-last: center;
    color: #030303;
    /*visibility: hidden;*/
}

/* git and docu buttons */
.project-link-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: hidden;
    margin-top: 25px;
    transform: translateY(100%);
    opacity: 0;
    transition: all 400ms ease-in 50ms;

}
.project-link-wrapper{
    display: inline-block;
}
.project-text-wrapper{
    position: relative;
}
.project-link {
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    font-weight: 600;
    text-decoration:none;
    background: #030303;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #FFF;
}
.project-link-text{
    position: relative;
    z-index: 2000010;
}
.project-link:after{
    position: absolute;
    content:"";
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background: #A50000;
    transition: all .25s;
}
.project-link:hover{
    color:#FFF;
}
.project-link:hover:after{
    width:184px;
}
.link-git{
    position: relative;
}
.link-writeup{
    margin-left: 10px;
}
.project-container:hover .desc-container{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.project-container:hover .project-link-container{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.project-1{
    position: absolute;
    left: 20%;
}
.project-1:hover{
    background: url(images/project-1-nba-cluster.jpg) no-repeat;
    background-size: cover;
}
.project-2{
    position: absolute;
    left: 20%;
    top: calc(100vh / 3);
}
.project-date-2{
    top: calc(100vh/3);
}
.project-2:hover{
    background: url(images/project-2-nba-postgame.jpg) no-repeat;
    background-size: cover;
}
.project-3{
    position: absolute;
    left:20%;
    top: calc(100vh * 2 / 3);
}
.project-date-3{
    top: calc(100vh * 2 / 3);
}
.project-3:hover{
    background: url(images/project-3-glassdoor.jpg) no-repeat;
    background-size: cover;
}
.project-4{
    position: absolute;
    left:20%;
    top: calc(100vh * 3 / 3);
}
.project-date-4{
    top: calc(100vh * 3 / 3);
}
.project-4:hover{
    background: url(images/project-4-wwe.jpg) no-repeat;
    background-size: cover;
}
.project-5{
    position: absolute;
    left:20%;
    top: calc(100vh * 4 / 3);
}
.project-date-5{
    top: calc(100vh * 4 / 3);
}
.project-5:hover{
    background: url(images/project-5-goat.jpg) no-repeat;
    background-size: cover;
}
.project-6{
    position: absolute;
    left:20%;
    top: calc(100vh * 5 / 3);
}
.project-date-6{
    top: calc(100vh * 5 / 3);
}
.project-6:hover{
    background: url(images/project-6-leader.jpg) no-repeat;
    background-size: cover;
}
.project-7{
    position: absolute;
    left:20%;
    top: calc(100vh * 6 / 3);
}
.project-date-7{
    top: calc(100vh * 6 / 3);
}
.project-7:hover{
    background: url(images/project-7-jeep.jpg) no-repeat;
    background-size: cover;
}
.project-8{
    position: absolute;
    left:20%;
    top: calc(100vh * 7 / 3);
}
.project-date-8{
    top: calc(100vh * 7 / 3);
}
.project-8:hover{
    background: url(images/project-8-nba-homeaway.jpg) no-repeat;
    background-size: cover;
}
.project-9{
    position: absolute;
    left:20%;
    top: calc(100vh * 8 / 3);
}
.project-date-9{
    top: calc(100vh * 8 / 3);
}
.project-9:hover{
    background: url(images/project-9-media.jpg) no-repeat;
    background-size: cover;
}

/* CONTACT ME PAGE */

#contact-me-section{
    width: 100%;
    height: 100vh;
    background: #FFF;
    position: relative;
    z-index: 9999999;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#contact-dots{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.contact-me-container{
    position: absolute;
    width: 90%;
    height: 90vh;
    /*border-radius: 25px;*/
    background: #030303;
    margin: 0;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    transition: all 350ms ease-in-out;
}
#contact-envelope{
    position: absolute;
    width: 40%;
    left: 40%;
    top: 10%;
    transition: all 350ms ease-in-out;
}
#contact-phone{
    position: absolute;
    width: 43%;
    right: 40%;
    bottom: 10%;
    transition: all 350ms ease-in-out;
}
.contact-me-container:hover{
    width: 93%;
    height: 93vh;
}
.contact-me-container:hover #contact-envelope{
    left: -10%;
    top: 2%;
}
.contact-me-container:hover #contact-phone{
    right: -10%;
    bottom: 2%;
}
#contactme-head{
    font-size: 100px;
    font-weight: 900;
    font-family: 'Teko', sans-serif;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #FFF;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: all 350ms ease-in-out;
}

.contact-me-container:hover #contactme-head{
    transform: translate(-50%, -300%);
}

#contactme-head::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 30px;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.175s ease-in-out 0s;
    transition-delay: 450ms;
}
.contact-me-container:hover #contactme-head::before {
    visibility: visible;
    transform: scaleX(1);
}
#contactme-text{
    display: block;
    background: #A50000;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    margin:0;
    position: absolute;
    text-align: left;
    bottom: 3%;
    left: 3%;
    color: #FFF;
    visibility: hidden;
    opacity: 0;
    transition: all 0.175s ease-in-out 0s;
    transition-delay: 450ms;
}
.contact-me-container:hover #contactme-text{
    visibility: visible;
    opacity: 1;
}

.contact-input-container{
    box-sizing: border-box;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 27vh auto;
    opacity: 0;
    visibility: hidden;
    transition: all 175ms ease-in-out;
}
.contact-me-container:hover .contact-input-container{
    opacity: 1;
    visibility: visible;
}
.contact-input-container .row100{
    position: relative;
    width: 100%;
    display: block;
    margin-left: -20px;
}
.contact-input-container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 15px;
    margin: 35px 0 0px;
    transition: 0.5s;
}

.contact-input-container .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #FFF;
}

.contact-input-container .row100 .inputBox input,
.contact-input-container .row100 .inputBox.textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    color: #A50000;
    z-index: 1;
}

.contact-input-container .row100 .inputBox .contact-text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.contact-input-container .row100 .inputBox input:focus + .contact-text,
.contact-input-container .row100 .inputBox input:valid + .contact-text{
    top: -35px;
    left: -10px;
}

.contact-input-container .row100 .inputBox .contact-line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #FFF;
    transition: 0.5s;
    pointer-events: none;
}

.contact-input-container .row100 .inputBox input:focus ~ .contact-line,
.contact-input-container .row100 .inputBox input:valid ~ .contact-line{
    height: 100%;
}
.contact-input-container .row100 .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding:10px 0;
}
.contact-input-container .row100 .inputBox.textarea textarea{
    height: 100%;
    resize: none;
}
.contact-input-container .row100 .inputBox.textarea .contact-text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.contact-input-container .row100 .inputBox.textarea textarea:focus + .contact-text,
.contact-input-container .row100 .inputBox.textarea textarea:valid + .contact-text{
    top: -35px;
    left: -10px;
}
.contact-input-container .row100 .inputBox.textarea textarea:focus ~ .contact-line,
.contact-input-container .row100 .inputBox.textarea textarea:valid ~ .contact-line{
    height: 100%;
}
input[type="submit"]{
    border: none;
    padding: 7px 35px;
    font-family: "Teko", sans-serif;
    outline: none;
    background: #A50000;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
}

/*EXIT SLIDES*/
.exit-home{
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #A50000;
    z-index: 10000000000;
    transform: scale(0);
    border-radius: 50%;
    transition: all 200ms ease-in;
}
.exit-about{
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #A50000;
    z-index: 10000000000;
    transform: translateY(100%);
    transition: all 750ms ease-in;
}
.exit-proj{
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #030303;
    z-index: 10000000000;
    transform: translateX(100%);
    transition: all 750ms ease-in;
}
/*footer*/
.footer-container{
    padding: 30px;
    border-top: #030303 2px solid;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}