
::selection {
    background: #0A377A;
}
*{
    margin:0;
    padding:0;
    font-family: 'Karla', sans-serif;
    user-select: none;
}

/* scrollbar */
::-webkit-scrollbar{
    width:6px;
}
::-webkit-scrollbar-track{
    border:4px solid #FFFFFF;
    box-shadow: inset 0 0 3px 2px rgba(255,255,255,1)
}
::-webkit-scrollbar-thumb{
    background: #DAB216;
    border-radius: 5px;
}

.heading{
    width: 100%;
    height: 20vh;
    background: #0A377A;
    position: relative;
}
.title,
.title a{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 6vh;
    color: #FFF;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}
.title a:hover{
    color: #DAB216;
}
.subtitle{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    color: #FFF;
}

.content{
    width: 100%;
    background: #FFF;
    position: relative;
}
.prompt-text{
    width: 70%;
    position: relative;
    font-size: 1.25vw;
    text-transform: uppercase;
    font-weight: 700;
    background: #DAB216;
    color: #030303;
    margin: 50px auto;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}
.answer-text{
    width: 50%;
    position: relative;
    font-size: 1vw;
    margin: 10px auto;
    text-align: justify;
    text-align-last: left;
    line-height: 1.5vw;
}
.mb-image{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.footer{
    margin-top: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #0A377A;
    color: #FFF;
    text-align: center;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 700;
}