html, body {
    margin:0;
    padding:0;
    height:100%;
    background: #FFF;
}
#container {
    min-height:100%;
    position:relative;
    overflow: hidden;
}
#body {
    /* Height of the footer */
    padding: 10px 10px 60px;
    scroll-snap-type: y proximity;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}

::selection {
    background: #A50000;
}
*{
    font-family: 'Karla', sans-serif;
}
html, body {
    cursor: none
}
.cursor{
    /*border: #FFF solid 2px;*/
    height: 10px;
    width: 10px;
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    /*background: transparent;*/
    background: #FFF;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: transform 0.35s ease;
    transition-property: background, transform;
    z-index: 100000000000000000000000000000000000000000000000;
}
a, input{
    cursor: none;
}
body{
    background: #FFFFFF;
    min-height:calc(1000vh + 81px);
}
/* screen transition */
.screen-transition{
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #030303;
    z-index: 10000000000;
    -webkit-animation-name: slideOut2;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 200ms;
    animation-name: slideOut2;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 750ms;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.screen-transition:before{
    content:'projects';
    position: absolute;
    font-family: 'Teko', sans-serif;
    font-size: 15em;
    font-weight: 900;
    text-transform: lowercase;
    /*color: #FFF;*/
    -webkit-text-stroke: .02em #FFF;
    text-stroke: 2px #FFF;
    color: transparent;
}

@keyframes slideOut2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* scrollbar */
::-webkit-scrollbar{
    width:9px;
}
::-webkit-scrollbar-track{
    border:6px solid #030303;
    box-shadow: inset 0 0 3px 2px rgba(0,0,0,1)
}
::-webkit-scrollbar-thumb{
    background: #A50000;
    border-radius: 5px;
}

/* hamburger menu */
/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200000000;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000000;
    width: 30px;
    height: 30px;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 100000000;
    top: -10px;
    width: 70%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger {
    background: #A50000;
}
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: #030303;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.8s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: #030303;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 90px;
    padding: 5px;
}

.menu-wrap .menu > div > div > ul > li > a {
    position: relative;
    color: #151515;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-family: 'Teko', sans-serif;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
    background: #A50000;
    color: #FFF;
}

.menu-wrap .menu > div > div > ul > li > a::before{
    content: "";
    position: absolute;
    width:100%;
    height: 5px;
    bottom: 0;
    left:0;
    background-color:#FFF;
    visibility:hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.menu-wrap .menu > div > div > ul > li > a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

#menu-logo {
    height: 10%;
    width: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* end hamburger menu */

.section{
    scroll-snap-align: start;
}

.intro-title{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FFF;
    top: 30vh;
    left: -15vw;
    margin-bottom: -350px;
}
.titletext span{
    display: inline;
    white-space: nowrap;
    color: #030303;
    font-family: 'Teko', sans-serif;
    font-size: 12vw;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.0001em;
    text-transform: uppercase;
}
.titletext span .outline{
    -webkit-text-stroke: .02em #030303;
    text-stroke: 1px #030303;
    color: transparent;
}
#title-recent{
    left: 0;
    margin-bottom: -9vw;
}
#title-project{
    margin-bottom: -9vw;
}
.intro-subtext{
    position: relative;
    left: 10vw;
    font-size: 2em;
}

/*project*/
.project-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #FFF;
}
.proj-1{
    top: 100vh;
    left: 0;
}
.proj-2{
    top: 200vh;
    left:0;
}
.proj-3{
    top: 300vh;
    left:0;
}
.proj-4{
    top: 400vh;
    left:0;
}
.proj-5{
    top: 500vh;
    left: 0;
}
.proj-6{
    top: 600vh;
    left:0;
}
.proj-7{
    top: 700vh;
    left:0;
}
.proj-8{
    top: 800vh;
    left:0;
}
.proj-9{
    top: 900vh;
    left:0;
}
.image-right{
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    background-size: cover;
}
.image-left{
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-size: cover;
}
.image1{
    background: url(images/port-1-cluster.jpg) center center;
}
.image2{
    background: url(images/port-2-postgame.jpg) center center;
}
.image3{
    background: url(images/port-3-glassdoor.jpg) center center;
}
.image4{
    background: url(images/port-4-wwe.jpg) center center;
}
.image5{
    background: url(images/port-5-goat.jpg) center center;
}
.image6{
    background: url(images/port-6-leader.jpg) center center;
}
.image7{
    background: url(images/port-7-jeep.jpg) center center;
}
.image8{
    background: url(images/port-8-homeaway.jpg) center center;
}
.image9{
    background: url(images/port-9-news.jpg) center center;
}
.dots-right{
    position: absolute;
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    z-index: 1;
}
.dots-left{
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    z-index: 1;
}
.main-left{
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
}
.main-right{
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background: #FFF;
}
.num-right{
    position: absolute;
    font-size: 1em;
    right: 3%;
    top: 5%;
}
.num-left{
    position: absolute;
    font-size: 1em;
    left: 3%;
    top: 5%;
}
.content-left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.content-right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}
.title-left{
    width: 80%;
    display: inline-block;
    position: relative;
    font-size: 5em;
    font-family: 'Teko', sans-serif;
    line-height: 0.8em;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 0.0003em;
    -webkit-text-stroke: .03em #030303;
    text-stroke: 3px #030303;
    left: 50px;
    float: left;
    padding-bottom: 10px;
    /*top: 30vh;*/
    overflow: visible;
}
.title-right{
    width: 80%;
    display: inline-block;
    position: relative;
    font-size: 5em;
    font-family: 'Teko', sans-serif;
    line-height: 0.8em;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 0.0003em;
    -webkit-text-stroke: .03em #030303;
    text-stroke: 3px #030303;
    right: 50px;
    float: right;
    padding-bottom: 10px;
    text-align: right;
    /*top: 30vh;*/
    overflow: visible;
}
.team-left{
    width: 70%;
    display: inline-block;
    position: relative;
    font-size: 0.8em;
    line-height: 0.8em;
    text-transform: uppercase;
    left: 50px;
    float: left;
    border-top: #030303 2px solid;
    padding-top: 20px;
    /*top: 30vh;*/
}
.team-right{
    width: 70%;
    display: inline-block;
    position: relative;
    font-size: 0.8em;
    line-height: 0.8em;
    text-transform: uppercase;
    right: 50px;
    float: right;
    border-top: #030303 2px solid;
    padding-top: 20px;
    text-align: right;
    /*top: 30vh;*/
}
.desc-left{
    width: 70%;
    display: inline-block;
    position: relative;
    font-size: 1em;
    line-height: 1.2em;
    left: 50px;
    float: left;
    top: 20px;
    text-align: justify;
    text-align-last: left;
}
.desc-right{
    width: 70%;
    display: inline-block;
    position: relative;
    font-size: 1em;
    line-height: 1.2em;
    right: 50px;
    float: right;
    top: 20px;
    text-align: justify;
    text-align-last: right;
}
.tools-right{
    width: 30%;
    height: 10vh;
    position: absolute;
    right: 10vw;
    bottom: 10%;
    background: #A50000;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.tools-left{
    width: 30%;
    height: 10vh;
    position: absolute;
    left: 10vw;
    bottom: 10%;
    background: #A50000;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.port-tool-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    font-family: 'Teko', sans-serif;
    line-height: 0.8em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .05em #FFF;
    text-stroke: 4px #FFF;
    letter-spacing: 1px;
    visibility: visible;
    opacity: 1;
    transition: all 200ms ease-in-out;
}
.port-tools{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
    color: #030303;
    visibility: hidden;
    opacity: 0;
    transition: all 350ms ease-in-out;
}
.tools-container:hover{
    background: #FFF;
}
.tools-container:hover .port-tool-title{
    opacity: 0;
    visibility: hidden;
}
.tools-container:hover .port-tools{
    opacity: 1;
    visibility: visible;
}
.links-left{
    position: absolute;
    left: 5%;
    bottom: 3%;
    z-index: 5;
    width: 60%;
    align-items: center;
    text-align: left;
}
.links-right{
    position: absolute;
    right: 5%;
    bottom: 3%;
    z-index: 5;
    width: 60%;
    align-items: center;
    text-align: right;
}
.port-links a{
    text-decoration: none;
}
.link-text-left{
    font-size: 2em;
    font-family: 'Teko', sans-serif;
    -webkit-text-stroke: .05em #FFF;
    text-stroke: 4px #FFF;
    color: transparent;
    text-align: center;
    background: #030303;
    padding: 1px 9px;
    margin-right: 40px;
    transition: all 350ms ease-in-out;
}
.link-text-left:hover{
    background: #A50000;
    padding: 4px 15px;
    margin-right: 28px;
    text-decoration: underline wavy;
}
.link-text-right{
    font-size: 2em;
    font-family: 'Teko', sans-serif;
    -webkit-text-stroke: .05em #FFF;
    text-stroke: 4px #FFF;
    color: transparent;
    text-align: center;
    background: #030303;
    padding: 1px 9px;
    margin-left: 40px;
    transition: all 350ms ease-in-out;
}
.link-text-right:hover{
    background: #A50000;
    padding: 4px 15px;
    margin-left: 28px;
    text-decoration: underline wavy;
}

.desc-links{
    color: #030303;
    font-weight: bold;
}
.desc-links:hover{
    color: #A50000;
}

/*EXIT SLIDES*/
.exit-home{
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #A50000;
    z-index: 10000000000;
    transform: scale(0);
    border-radius: 50%;
    transition: all 200ms ease-in;
}
.exit-about{
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #A50000;
    z-index: 10000000000;
    transform: translateY(100%);
    transition: all 750ms ease-in;
}
.exit-proj{
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: #030303;
    z-index: 10000000000;
    transform: translateX(100%);
    transition: all 750ms ease-in;
}

/*footer*/
.footer-container{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: #030303 2px solid;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

/*SCROLL*/
.image-right[data-scroll],
.tools-right[data-scroll],
.num-right[data-scroll],
.title-right[data-scroll],
.team-right[data-scroll],
.desc-right[data-scroll],
.links-right[data-scroll]{
    transition: all 1s;
}
.image-right[data-scroll = "in"],
.tools-right[data-scroll = "in"],
.num-right[data-scroll = "in"],
.title-right[data-scroll = "in"],
.team-right[data-scroll = "in"],
.desc-right[data-scroll = "in"],
.links-right[data-scroll = "in"]{
    opacity: 1;
    transform: translateX(0);
}
.image-right[data-scroll = "out"],
.tools-right[data-scroll = "out"],
.num-right[data-scroll = "out"],
.title-right[data-scroll = "out"],
.team-right[data-scroll = "out"],
.desc-right[data-scroll = "out"],
.links-right[data-scroll = "out"]{
    opacity: 0;
    transform: translateX(200px);
}

.image-left[data-scroll],
.tools-left[data-scroll],
.num-left[data-scroll],
.title-left[data-scroll],
.team-left[data-scroll],
.desc-left[data-scroll],
.links-left[data-scroll]{
    transition: all 1s;
}
.image-left[data-scroll = "in"],
.tools-left[data-scroll = "in"],
.num-left[data-scroll = "in"],
.title-left[data-scroll = "in"],
.team-left[data-scroll = "in"],
.desc-left[data-scroll = "in"],
.links-left[data-scroll = "in"]{
    opacity: 1;
    transform: translateX(0);
}
.image-left[data-scroll = "out"],
.tools-left[data-scroll = "out"],
.num-left[data-scroll = "out"],
.title-left[data-scroll = "out"],
.team-left[data-scroll = "out"],
.desc-left[data-scroll = "out"],
.links-left[data-scroll = "out"]{
    opacity: 0;
    transform: translateX(-200px);
}

.black-dots[data-scroll]{
    transition: all 1s;
}
.black-dots[data-scroll="in"]{
    opacity: 1;
    transform: translateY(0);
}
.black-dots[data-scroll="out"]{
    opacity: 0;
    transform: translateY(200px);
}