html, body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
}
#body {
    /* Height of the footer */
    padding: 10px 10px 60px;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}

::selection {
    background: #A50000;
}
*{
    margin:0;
    padding:0;
    font-family: 'Circular Std', sans-serif;
}
html, body {
    cursor: none
}
.cursor{
    border: #FFF solid 2px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background: transparent;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: transform 0.35s ease;
    transition-property: background, transform;
    z-index: 100000000000000000000000000000000000000000000000;
}
a, input{
    cursor: none;
}
body{
    background: #FFFFFF;
    min-height:1500px;
}

/* scrollbar */
::-webkit-scrollbar{
    width:6px;
}
::-webkit-scrollbar-track{
    border:4px solid #030303;
    box-shadow: inset 0 0 3px 2px rgba(0,0,0,1)
}
::-webkit-scrollbar-thumb{
    background: #A50000;
    border-radius: 5px;
}

/* hamburger menu */
/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200000000;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000000;
    width: 30px;
    height: 30px;
    padding: 1rem;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 100000000;
    top: -10px;
    width: 70%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger {
    background: #A50000;
}
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: #FFF;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.8s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: #030303;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 90px;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    position: relative;
    color: #151515;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
    background: #A50000;
    color: #FFF;
}

.menu-wrap .menu > div > div > ul > li > a::before{
    content: "";
    position: absolute;
    width:100%;
    height: 5px;
    bottom: 0;
    left:0;
    background-color:#FFF;
    visibility:hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.menu-wrap .menu > div > div > ul > li > a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

#menu-logo {
    height: 10%;
    width: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* end hamburger menu */

.intro-title{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #FFF;
    overflow: hidden;
}
.titletext span{
    display: inline;
    white-space: nowrap;
    width: 100%;
    color: #030303;
    font-family: 'Teko', sans-serif;
    font-size: 12vw;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.0001em;
}
.titletext span .outline{
    -webkit-text-stroke: .02em #030303;
    text-stroke: 1px #030303;
    color: transparent;
}



/*footer*/
.footer-container{
    padding: 30px;
    border-top: #030303 2px solid;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}